body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/img2.png");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1{
    text-align: center;
    color: white;
}
h2{ 
    color: white;
    text-align: center;
  }



.velha button{
    width: 100x;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: white;
    color:rgb(32, 114, 221) ;
    
}

.velha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}